* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(218, 216, 214);  
}

.widget {
  width: 700px;
  min-height: 700px;
  margin-top: 40px;
  background-image: url('../pic/3vxtubpa5pomw81boqfeys7h-0s.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 30px solid rgb(202, 202, 201);
  border-radius: 10px;
  position: relative;
  padding: 80px 20px 20px;
}

.widget::after {
  content: '';
  background-image: url('../pic/free-icon-menu-8212729.png');
  background-repeat: no-repeat;
  
  width: 100px;
  height: 100px;
  top: -30px;
  left: 10px;
  position: absolute;
  font-size: 40px;
}

.add-tiket-button {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 150px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 10px;
  color: gray;
  background-color: white;
  font-size: 15px;
  cursor: pointer;
}

.tickets__list {  
  width: 100%;
}

.modal, .delete-modal {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  color: gray;
  padding: 10px;
}

.modal__title, .delete-modal__title {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;  
}

.input {
  width: 100%;
  margin-bottom: 10px;  
}

.modal-button {
  padding: 5px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 15px;
  color: gray;
  cursor: pointer;
}

.ticket__item {
  width: 100%;
  display: flex;  
  flex-direction: row;
  background-color: white;
  border: 1px solid gray;
}

.status {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px; 
  margin-right: 10px;  
  border-radius: 10px;  
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.text__list::before {
  position: absolute;
  content: '';
  top: 5px;
  left: -40px;
  width: 30px;
  height: 30px;
  background-image: url('../pic/circle.png');
  background-size: cover;
  z-index: 0;
  opacity: 0.8;
}

.status:checked + .text__list::before {
  background-image: url('../pic/check.png'); 
  z-index: 0;
  opacity: 0.7; 
}

.text__list {
  width: 50%;
  padding: 10px;
  position: relative;
  color: grey;
}

.text__description {
  margin-top: 20px;
}

.created {
  padding: 10px;
  width: 25%;
  color: grey;
  font-size: 15px;
}

.edit__button, .delete__button {
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 5px;
  position: relative;
}

.edit__button {
  margin-left: 20px;
}

.edit__button::after {
  position: absolute;
  content: '';
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  background-image: url('../pic/pencil.png');
  background-size: cover;
      
}

.delete__button::after {
  position: absolute;
  content: '';
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;
  background-image: url('../pic/close.png');
  background-size: cover;      
}

.invisible {
  display: none;
}

.delete-modal__text {
  margin-bottom: 10px;
}